- if @state or @party
  %ul.breadcrumb
    - if @state
      %li
        = link_to @state.short_name, root_path
        %span.divider /
    - if @party
      %li
        = link_to @party, parties_by_path(@state && @state.short_name)
        %span.divider /
    - if @listables
      %li.active
        = @listables.first.class
%ul.thumbnails
  - @listables.each do |listable|
    %li.span4
      .thumbnail
        -# TODO use a decorator or similar for this
        - if listable.class == State
          = link_to listable, parties_by_path(listable.short_name)
        - if listable.class == Party
          = link_to listable, candidates_by_path(listable.to_param, @state && @state.short_name)
          - if user_signed_in? && current_user.has_role?(:admin)
            %br
            = link_to 'Edit', edit_party_path(listable.to_param), :class => [:btn]
        - if listable.class == Candidate
          = listable
