%button.btn.btn-navbar.collapsed{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to "EPF", root_path, :class => 'brand'
.nav-collapse.collapse
  %ul.nav
    %li= link_to 'States', root_path
    %li= link_to 'Parties', parties_path
    %li= link_to 'Candidates', candidates_path
    - if user_signed_in?
      %li
        = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    - else
      %li.hide
        = link_to 'Login', new_user_session_path
    - if user_signed_in?
      %li
        = link_to 'Edit account', edit_user_registration_path
      - if current_user.has_role? :admin
        %li
          = link_to 'Admin', users_path
    - else
      %li.hide
        = link_to 'Sign up', new_user_registration_path
